
/* configuração da animação */
/* @keyframes colorCycle nome da animação{ 
     0% inicio { 
         filter: brightness(0)  invert(1);  
         o 0 deixa sem brilho e o invert, inverte as cores 
     } 
 } */

/* GLOBAL */

* {
    margin: 0;
    padding: 0 ;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagens/login.jpg);
}

a {
    text-decoration: none;
}
/* FIM GLOBAL */

/* login */


/* box */
.box-login {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 487px;
    height: 475px;
    border-radius: 50px;
    margin: auto;
    margin-top: 10vw;
    align-items: center;
    box-shadow: 3px 3px 50px rgba(255, 255, 255, 0.397);
}
/* fim box */

/* texto degrade */
.texto {
    font-size: 48px;
    margin-top: 30px;
}


.texto p {
    /* color: #00FFD1; */
    /* FORMA DE DEIXAR O TEXTO GRADIENTE */
    background-image: linear-gradient(90deg, #658eff,#00FFD1);
    /* WEBKIT SERVE PARA FUNCIONAR EM VÁRIOS NAVEGADORES */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* cria uma animação */
    /* animation: colorCycle 10s; */
    /* deixa inifnito */
}
/* fim texto degrade */

/* username */
.username {
    margin-top: 18px;
}

.username input {
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: none;
    color: white;
    border: 2px solid white;
    
    text-align: center;
    transition: 0.25s;
}

.username :focus {
    width: 300px;
    border-color: #00FFD1;
}
/* fim username */

/* senha */
.senha {
    margin-top: 19px;
}

.senha input {
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 24px;
    color: white;
    border: 2px solid white;
    background: none;
    text-align: center;
    transition: 0.25s;
}

.senha :focus {
    width: 300px;
    border-color: #00FFD1;
}
/* fim senha */


/* esqueceu a senha */
.esqueceu {
    margin-top: 10px;
    margin-right:75px;
    
}

.esqueceu p {
    font-size: 12px;
    color: white;
}
/* fim esqueceu a senha */

/* botao */
.login {
    margin-top: 20px;
}


.login button {
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 24px;
    border: 2px solid  #00FFD1;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.login :hover {
    background-color: #00FFD1;
    border-color:  #00FFD1;
    color: black;
}
/* fim botao */

/* entrar com google */
.a-google {
    margin-top: 19px;
}

.google {
    display: flex;
    /* margin-top: 19px; */
    height: 30px;
    width: 200px;
    color: white;
    border-radius: 26px;
    border: 2px solid white;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    
}

.google img {
    height: 20px;
    margin-right: 10px;
    color: white;
    
}
/* fim entrar com google */

/* entrar com facebook */
.a-facebook {
    margin-top: 10px;
}

.facebook {
    display: flex;
    
    height: 30px;
    width: 200px;
    color: white;
    border-radius: 26px;
    border: 2px solid white;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    color: white;
}

.facebook img {
    height: 20px;
    margin-right: 10px;
}
/* fim entrar com facebook */


.opacidade {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;

}

a :hover {
    opacity: 70%;
    border-color: #00FFD1 ;
}

/* inicio cadastro */
.cadastro {
    margin-top: 18px;
    margin-right: 0px;
}

.cadastro p {
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
/* fim cadastro */

/* fim login */