/* GLOBAL */

*{
    margin:0;
}

body {
    background-color: #1F1F1F;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 95%;
    /* border: red solid; */
    margin: auto;
    height: 77px;
}

/* FIM GLOBAL */

/* HEADER */

.header{
    background-color: #111111;
    height: 77px;
    border-bottom: #B930D6 solid 4px ;
}

/* FIM HEADER */

/* NAV */


.nav .lol {
    height: 81px;
    margin-top: -2px;
    float: left;

}

.nav .linha-vertical {
    width: 2px;
    height: 49px;
    background-color: #B930D6;
    float: left;
    margin-top: 14px;
}

.nav a {
    text-decoration: none;
    color: #756767;
    font-size: 18px;
    /* weight = peso ou influência */
    font-weight: bold;
}

.nav li {
    float: left;
    /* display: inline-block; */
    margin-left: 54px;
    padding: 26px 0px 0px 0px;
    /* cima, direita, baixo, esquerda */
}

.nav .buscar {
    margin-left: 54px;
    margin-top: 10px;
    border-radius: 10px ;
    display: inline-block;
    /* padding: 4px; */
    background-color: #B930D6;
}



.nav button {
    margin: none;
    background: none;
    border: none;
    color: black;
    padding: 4px 10px;
    width: 29px;
}
.nav input {
    border: none;
    /* margin-left: 54px; */
    /* margin-top: 10px; */
    background: none;
    width: 416px;
    height: 49px;
    /* border-radius: 10px; */
}


.nav ::placeholder {
    color: rgba(17, 17, 17, 0.5);
    font-size: 18px;
    font-weight: bold;
}

/* FIM NAV */