/* GLOBAL */

* {
    margin: 0;
    padding: 0 ;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-image: url(../imagens/login.jpg); */
    background-color: #1F1F1F;
}

a {
    text-decoration: none;
}

/* FIM GLOBAL */


/* Box-Cadastro */
.box-cadastro {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 487px;
    height: 600px;
    border-radius: 20px;
    margin: auto;
    margin-top: 5vw;
    align-items: center;
    box-shadow: 3px 3px 50px rgba(255, 255, 255, 0.185);
}

.cadastro .botao {
    margin-top: 30px;
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 24px;
    border: 2px solid  #FF9F1C;
    background: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.cadastro :hover {
    background-color: #FF9F1C;
    color: black;
}

#form_cadastro {
    display: inline-block;
    width: 300px;
    text-align: center;
}


/* fim box cadastro */

.voltar img {
    position: absolute;
    margin-top: 5px;
    margin-left: -230px;
    height: 50px;
    transition: 0.7s;
}

.voltar :hover {
    height: 60px;
}

/* Titulo */

.titulo {
    font-size: 48px;
    margin-top: 60px;
}

/* fim titulo */

/* OU */

.ou .titulo {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    
}

.ou .linha{
    width: 180px;
    height: 2px;
    margin-top: 20px;
    background-color:#ffa01c7a;
}

/* fim OU */

/* input */
.input-a input {
    height: 30px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 24px;
    color: black;
    border: 2px solid black;
    background: none;
    text-align: center;
    transition: 0.25s;
}


.input-a :focus {
    width: 300px;
    border-color: #FF9F1C;
}



/* fim input */

/* p */
p {
    font-weight: bold;
}

/* fim p */

/* texto  */

.texto {
    margin: 10px 150px 0px 0px;
    /* margin-right: 150px; */
}

.texto-username {
    margin: 10px 120px 0px 0px;
    /* margin-right: 120px; */
}

.texto-confirmar {
    margin: 10px 80px 0px 0px;
    /* margin-right: 80px; */
}

/* fim texto */

/* Opacidade e a */

.opacidade {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;

}

a :hover {
    opacity: 70%;
}

/* fim Opacidede e a */