/* GLOBAL */

*{
    margin:0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/login.jpg);
    background-size: cover;
    

}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699);
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    height: 73px;
    margin: auto;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* FIM GLOBAL */

/* Header */

.header {
    background-color: transparent;
    width: 100%;
    height: 77px;
    border-bottom: 4px solid #FF9F1C;
}

/* header nav */

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav .controle {
    height: 57px;
}

.nav .lista {
    margin-left: 20px;
}

.nav .lista select {
    width: 20px;
    height: 20px;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: #41EAD4;   
    cursor: pointer; 
}

.nav .lista select option {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF9F1C;
}

.nav .linha-vertical {
    background-color: #41EAD4;
    width: 2px;
    height: 50px;
    margin-left: 20px;
}

.nav .paginas {
    display: flex;
}

.nav .paginas li  {
    display: inline-block;
    color: #FDFFFC;
    margin-left: 100px;
    transition: linear 0.50s;
}

.nav .paginas li  :hover{
    background-image: linear-gradient(90deg, #df5959,#FF9F1C);
    /* WEBKIT SERVE PARA FUNCIONAR EM VÁRIOS NAVEGADORES */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: bold;
    color: #41EAD4;
}


.nav .menu-atual {
    border-bottom: solid 2px #FF9F1C;
}

.nav .perfil {
    display: flex;
    align-items: center;
    margin-left: 40%;
    width: 250px;
    /* border: solid red; */
}

.nav .perfil img {
    height: 45px;
    border-radius: 50px;
}

.nav .perfil b{
    background-image: linear-gradient(90deg, #df5959,#FF9F1C);
    /* WEBKIT SERVE PARA FUNCIONAR EM VÁRIOS NAVEGADORES */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    color: #41EAD4;
    
}

.nav .perfil b :hover {
    transition: 0.50s;
    border-bottom: solid 2px #FDFFFC ;
}

.nav .sair img {
    height: 33px;
    margin-top: 5px;
    margin-left: 10px;
}

/* fim header nav */

/* fim header */

/* box sobre */

.box-sobre {
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    width: 70%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    /* border: 2px solid #FF9F1C; */
}

.box-sobre .titulo {
    font-size: 35px;
    text-align: center;
    color: #F71735;
    margin-top: 20px;
}

.box-sobre .sobre {
    display: flex;
}

.box-sobre .sobre .dados {
    margin-left: 50px;
}

.box-sobre .sobre .dados img {
    
    height: 230px;
    border-radius: 500px;
}

.box-sobre .sobre .dados .texto {
    width: 170px;
    /* border: solid 5px red; */
    text-align: center;
    font-size: 20px;
    /* color: #41EAD4; */
    color: #F71735;
}

.box-sobre .sobre .dados .texto p {
    font-size: 18px;
    color: #FDFFFC;
}

.box-sobre .sobre .escrita {
    background-color: #948686;
    margin: 30px;
    width: 640px;
    height: 260px;
    border-radius: 20px;
    border: solid 2px #FF9F1C;
    padding: 10px;
    
}

.box-sobre .sobre .escrita p {
    text-align: justify ;
    color: #000000;
    font-stretch: ultra-condensed;
    font-weight: 600;
}

/* fim box sobre */

/* footer */

footer {
    text-align: center;
    height: 60px;
    border-top: solid 5px #FF9F1C ;
    color: white;
    background-color: #111;
}

footer p {
    margin-top: 20px;
}

/* footer */