/* GLOBAL */

*{
    margin:0;
}

body {
    background-color: #1F1F1F;
    font-family: 'Roboto', sans-serif;
}

.container {
    
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
     width: 95%; 
     /* border: red solid;  */
     margin: auto;
    height: 77px; 
}

/* FIM GLOBAL */

/* HEADER */

.header{
    background-color: #111111;
    height: 77px;
    border-bottom:#6c48a5 solid 4px ;
    align-items: center;
}

/* FIM HEADER */

/* NAV */

.nav {
    display: flex ;   
}

.nav .lol {
    height: 81px;
    /* margin-top: -2px;
    float: left; */

}


.nav .lista select {
    position: absolute;
    width: 18px ;
    margin: 30px -14px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: #111111;
}

.nav .linha-vertical {
    width: 2px;
    height: 49px;
    background-color:#9362df;
    margin: 14px 10px;
}

.nav a {
    text-decoration: none;
    color: #756767;
    font-size: 18px;
    /* weight = peso ou influência */
    font-weight: bold;

}

.nav .linkados {
    /* display: inline-block; */
    text-decoration: none;
    /* float: left; */
     /* margin-left: 54px;  */
    padding: 28px 0px 0px 0px; 

    /* cima, direita, baixo, esquerda */
}

.linkados li {
    display: inline-block;
    padding:0px 20px ;
    /* justify-content: space-evenly; */
}

.nav  .buscar-perfil {
    /* float: right; */
    /* margin-top: -47px; */
    display: flex;
    align-items: center;
} 

.nav .buscar {
    /* margin-right: 130px;
    margin-left: 54px;
    margin-top: 10px; */
    border-radius: 10px ;
    /* float: left; */
    padding: 4px;
    background-color: #9362df;
    
}

.nav i {
    color: black;
    width: 29px;
}
.nav .busca {
    border: none;
    background: none;
    width: 416px;
    height: 40px;
    outline: none;
}


.nav ::placeholder {
    color: rgba(17, 17, 17, 0.5);
    font-size: 18px;
    font-weight: bold;
}

.usuario {
    display: flex;
    align-items: center;
    margin: 0px 50px;

}

.nav .buscar-perfil .imagem img {
    height: 40px;
    /* margin-top: 15px;    */
}


.nav .buscar-perfil .perfil {
    margin-left: 40px;
}

.nav .buscar-perfil .sair img {
    height: 33px;
    /* float: right; */
}


/* FIM NAV */